# Ignore selected directories and folders
.virtual_documents/
.ipynb_checkpoints/
Food Datasets/final-dataset/
*.*

# Don't ignore .gitignore and *.ipynb files
!.gitignore
!*.ipynb
Food Datasets/nutrition5k/dish_ids/README
